body
{
    font-family: 'Raleway', sans-serif;
    color: black;
    max-width: 100%;
    top: 0em; left: 0em;
}

header
{
    display: flex;
    justify-content: space-between;
    
}

#Titre
{
    max-width: 50%;
}

figure
{
    size: 50%;
}

#Nav
{
    max-width: 50%;
}

nav
{
    display: flex;
    color: black;
    text-decoration: none;
}

#Button-heb
{
    color: #0065FC;
    border-top: 3px solid #0065FC;
}

#Button-act
{
    color: black;
}

#Button-sign
{
    color: #0065FC;
    font-weight: bold;
}

#Recherche
{
    max-width: 100%;
}

.fa-map-marker-alt
{
    color: #0065FC;
}

#filtres
{
    display: flex;
    justify-content: flex-start;
}

.fa-money-bill-wave
{
    color: #0065FC;
    background-color: #DEEBFF;
}

#Economique
{
    border: 2px #f2f2f2 solid;
    border-radius: 50px;
}

.fa-child
{
    color: #0065FC;
    background-color: #DEEBFF;
}

#Familial
{
    border: 2px #f2f2f2 solid;
    border-radius: 50px;
}

.fa-heart
{
    color: #0065FC;
    background-color: #DEEBFF;
}

#Romantique
{
    border: 2px #f2f2f2 solid;
    border-radius: 50px;
}

.fa-dog
{
    color: #0065FC;
    background-color: #DEEBFF;
}

#Animaux
{
    border: 2px #f2f2f2 solid;
    border-radius: 50px;
}

.fa-info-circle
{
    color: #0065FC;
}

#Hébergement
{
    background-color: #f2f2f2;
    border-radius: 20px;
}

#Populaires
{
    background-color: #f2f2f2;
    border-radius: 20px;
}

footer
{
    background-color: #F2F2F2;
    display: flex;
    justify-content: flex-start space-between;
}