/* Infos générales */

body {
  font-family: "Raleway", sans-serif;
  font-weight: 500;
  color: black;
  width: 100%;
  margin: auto;
}

/* Logo */

img {
  max-width: 160px;
  max-height: 100px;
}

/* Header */

header {
  /* max-width: 90%;
  margin-left: 5%;
  margin-right: 5%;
  display: flex;
  justify-content: space-between;
  align-items: flex-start; */

  max-width: 100%;
  margin-left: 1%;
  margin-right: 1%;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}

#Titre {
  max-width: 50%;
}

#Titre img {
  max-width: 80%;
  max-height: auto;
  padding-top: 15%;
}

/* Menu de navigation */

#Nav {
  max-width: 50%;
}

#Nav ul {
  margin-block: auto;
  font-size: small;
}

#Button-heb {
  display: flex;
  flex-wrap: nowrap;
  justify-content: flex-end;
  align-items: baseline;
}

#one {
  padding-right: 15%;
  text-decoration: none;
  color: #0065fc;
  padding-left: 15%;
  padding-top: 20%;
  /* margin-right: 20%; */
}

#one:hover {
  border-top: 3px solid #0065fc;
  padding-top: 18.5%;
}

#two {
  text-decoration: none;
  color: black;
  padding-left: 15%;
  padding-right: 15%;
  padding-top: 20%;
  /* margin-right: 20%; */
}

#two:hover {
  border-top: 3px solid #0065fc;
  padding-top: 18.5%;
}

#three {
  /* margin-right: 5%; */
  text-decoration: none;
  color: #0065fc;
  /* margin-left: 5%; */
  font-weight: bold;
  padding-left: 15%;
  padding-right: 15%;
}

#Recherche {
  max-width: 90%;
  margin-left: 4.5%;
}

#slogan {
  font-weight: bold;
}

#pslogan {
  margin-top: -1%;
  font-size: smaller;
}

h2 {
  font-size: larger;
}

/* Barre de recherches */

#search {
  display: flex;
  align-content: center;
  max-width: 90%;
}

#Location-logo {
  background-color: #f2f2f2;
  border-radius: 30% 0% 0% 30%;
  width: 35px;
  height: 35px;
  text-align: center;
  justify-content: center;
  display: flex;
  align-items: center;
}

.fa-map-marker-alt {
  color: black;
}

#Marseille {
  border: 2px solid #f2f2f2;
  font-weight: bold;
  color: black;
}

#Bouton-Search {
  max-height: 35px;
  max-width: 100px;
  background-color: #0065fc;
  color: white;
  border: 5px #0065fc solid;
  border-radius: 0% 25% 25% 0%;
}

h3 {
  font-weight: bold;
  font-size: small;
}

/* Filtres */

#filtres {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  margin-top: 1.5%;
  margin-bottom: 1.5%;
}

/* Economique */

#money {
  align-content: center;
  justify-content: center;
  text-align: center;
  background-color: #deebff;
  border-radius: 50%;
  width: 40px;
  height: 40px;
  display: flex;
  align-items: center;
  margin-top: -2.3%;
  margin-left: -2.4%;
}

.fa-money-bill-wave {
  color: #0065fc;
}

#Economique {
  display: flex;
  font-weight: bold;
  width: 140px;
  height: 33px;
  border: 3px #f2f2f2 solid;
  border-radius: 50px;
  align-content: center;
  margin-left: 2%;
}

#eco {
  margin: auto;
  font-size: small;
}

/* Familial */

#fam {
  align-content: center;
  justify-content: center;
  text-align: center;
  background-color: #deebff;
  border-radius: 50%;
  width: 40px;
  height: 40px;
  display: flex;
  align-items: center;
  margin-top: -3%;
  margin-left: -3.5%;
}

.fa-child {
  color: #0065fc;
}

#Familial {
  display: flex;
  font-weight: bold;
  width: 110px;
  height: 33px;
  border: 3px #f2f2f2 solid;
  border-radius: 50px;
  align-content: center;
  margin-left: 2%;
}

#pfam {
  margin: auto;
  font-size: small;
}

/* Romantique */

#rom {
  align-content: center;
  justify-content: center;
  text-align: center;
  background-color: #deebff;
  border-radius: 50%;
  width: 40px;
  height: 40px;
  display: flex;
  align-items: center;
  margin-top: -2.4%;
  margin-left: -2.5%;
}

.fa-heart {
  color: #0065fc;
}

#Romantique {
  display: flex;
  font-weight: bold;
  width: 135px;
  height: 33px;
  border: 3px #f2f2f2 solid;
  border-radius: 50px;
  align-content: center;
  margin-left: 2%;
}

#prom {
  margin: auto;
  font-size: small;
}

/* Animaux */

#ani {
  align-content: center;
  justify-content: center;
  text-align: center;
  background-color: #deebff;
  border-radius: 50%;
  width: 40px;
  height: 40px;
  display: flex;
  align-items: center;
  margin-top: -1.8%;
  margin-left: -2%;
}

.fa-dog {
  color: #0065fc;
}

#Animaux {
  display: flex;
  font-weight: bold;
  width: 175px;
  height: 33px;
  border: 3px #f2f2f2 solid;
  border-radius: 50px;
  align-content: center;
  margin-left: 2%;
}

#pani {
  margin: auto;
  font-size: small;
}

/* Nombres résultats */

#nbr-icon {
  display: flex;
  align-items: center;
  border: 1px #f2f2f2 solid;
  border-radius: 50%;
  width: 15px;
  height: 15px;
  align-content: center;
  justify-content: center;
  text-align: center;
  margin-top: auto;
  margin-bottom: auto;
}

.fa-info {
  color: #0065fc;
  text-align: center;
  font-size: xx-small;
}

#Nbre-res {
  margin-bottom: 2%;
  margin-top: 2%;
  display: flex;
}

#pnbre-res {
  margin-left: 1%;
  margin-top: auto;
  margin-bottom: auto;
  font-size: small;
}

/* Corps principal */

#corps {
  max-width: 90%;
  margin-left: 5%;
  margin-right: 5%;
  display: flex;
  justify-content: flex-start;
}

/* Hébergement */

#Hébergement {
  background-color: #f2f2f2;
  border-radius: 20px;
  max-width: 60%;
}

#Cartes-Hébergement {
  display: flex;
  justify-content: flex-start;
}

/* populaires */

#Populaires {
  background-color: #f2f2f2;
  border-radius: 20px;
  max-width: 40%;
}

/* Activités */

/* Footer */

footer {
  background-color: #f2f2f2;
  display: flex;
  justify-content: flex-start;
  max-width: 100%;
  padding-left: 4.5%;
  padding-top: 2%;
}

#Propos {
  margin-right: 20%;
}

#Héber-F {
  margin-right: 20%;
}

.fliens {
  text-decoration: none;
  color: black;
  font-size: x-small;
}
